<form action = "/recipes" method = "POST">
  <label for = "recipe_name">Name</label>
  <input id = "recipe_name" name = "recipe_name" type = "text" required>
  <br>
  <br>
  <label for = "recipe_description">Description</label>
  <input id = "recipe_description" name = "recipe_description" type = "text" required>
  <br>
  <br>
  <label for = "recipe_rating">Rating</label>
  <input id = "recipe_rating" name = "recipe_rating" type = "number" required>
  <br>
  <br>
  <label for = "recipe_preptime">Preptime</label>
  <input id = "recipe_preptime" name = "recipe_preptime" type = "number" required>
  <br>
  <br>
  <input type = "submit" value = "Create my recipe">
</form>
